{% extends "_layout/_sidebar-right.njk" %}
{# Imports #}
{% from "components/accordion/_accordion.njk" import wmndsAccordion %}
{% from "components/content-card/_content-card.njk" import wmndsContentCard %}

{% block content %}
<div class="wmnds-m-b-lg">
    {{ wmndsAccordion({
    text: "hello world"
    }) }}
</div>
    {{ wmndsAccordion() }}
{% endblock content %}


{% block sidebar %}
    {{ wmndsContentCard() }}
{% endblock sidebar %}